body {
    background-color: black;
    background-image: url("./bilder/earth.jpg");
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 100px;
    color: white;
    width: 600px;
    margin-left: 100px;
}