body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background: url("./bilder/fiji.jpg")
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    margin-top: 100px;
    margin-left: 200px;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    margin-left: 200px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    margin-top: 200px;
    margin-left: 600px;
    text-transform: uppercase;
}

a {
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background: #c548e4;
    padding: 15px 50px;
}